@font-face {
    font-family: Rockwell;
    src: url(/assets/fonts/ROCK.TTF);
}
@font-face {
    font-family: BebasNeue;
    src: url(/assets/fonts/BebasNeue-Regular.ttf);
}
::placeholder {
    text-align: center; 
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #151515;
}
::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 2.5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #474747;
}

body {
    overflow-x: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    animation: onLoadOverFlow .6s forwards;
}
.background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 3%;
    background:
    linear-gradient( #101010, #11111188),
        url(https://grainy-gradients.vercel.app/noise.svg);
}
.fade {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    animation: onLoadFade 1s forwards;
}
header {
    display: flex;
    flex-direction: column;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 2%;
    color: white;
    font-family: "BebasNeue";
    font-size: 3em;
    line-height: 1em;
}
header h3 {
    margin: 0;
    font-family: "Rockwell";
    font-size: .8em !important;
}
.container {
    padding: 10px;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    background: #5b5b58b3;
    height: 30px;
    border-radius: 20px;
}
.col {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
.tableHeader {
    color: white;
    font-family: "BebasNeue";
    margin-top: 2%;
    font-size: 1.2em;
    letter-spacing: .1em;
    border-radius: 20px;
}
td {
    color: white;
    font-family: "Rockwell";
    font-size: 1.2em;
    letter-spacing: .1em;
    text-align: center;
}
.hide {
    display: none;
}
.line {
    width: 1000px;
    height: 5px;
    color: white;
}



.background .dot1 {
    position: absolute;
    width: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    filter: blur(500px);
    background-color: #A81307;
    opacity: .5;
    bottom: -40%;
    right: -20%;
}
.background .dot2 {
    position: absolute;
    width: 60%;
    padding-bottom: 60%;
    border-radius: 50%;
    filter: blur(500px);
    background-color: #A81307;
    opacity: .5;
    top: -80%;
    left:-30%;
}
.background .dot3 {
    position: absolute;
    width: 35%;
    padding-bottom: 35%;
    border-radius: 50%;
    filter: blur(500px);
    background-color: #A81307;
    opacity: .5;
    bottom: -50%;
    left: -5%;
}
    .background .dot4 {
    position: absolute;
    width: 40%;
    padding-bottom: 40%;
    border-radius: 50%;
    filter: blur(100px);
    background-color: #A81307;
    opacity: .5;
    top: -70vh;
    right: -20vw;
}
@keyframes onLoad {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
  }
  @keyframes onLoadHeader {
    0% {transform: translateY(-500px);}
    100% {transform: translateY(0px);}
  }
  @keyframes onLoadOverFlow {
    0% {overflow-y: hidden;}
    99% {overflow-y: hidden;}
    100% {overflow-y: auto;}
  }
  @keyframes onLoadFade {
    0% {background-color: #272121;}
    20% {background-color: #272121;}
    100% {background-color: invisible;}
  }