@font-face {
    font-family: Rockwell;
    src: url(/assets/fonts/ROCK.TTF);
}
@font-face {
    font-family: BebasNeue;
    src: url(/assets/fonts/BebasNeue-Regular.ttf);
}
::placeholder {
    text-align: center; 
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #151515;
}
::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 2.5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #474747;
}

body {
    overflow-x: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    animation: onLoadOverFlow .6s forwards;
}
.background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 3%;
    background:
    linear-gradient( #101010, #11111188),
        url(https://grainy-gradients.vercel.app/noise.svg);
}
.fade {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    animation: onLoadFade 1s forwards;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0% 0% 0% 0%;
    margin: 0% 2% 0% 2%;
    color: white;
    font-family: "BebasNeue";
    font-size: 2.5em;
    line-height: 1em;
    animation: onLoadHeader 1s forwards;
}
header h3 {
    margin: 0;
    font-family: "Rockwell";
    font-size: .8em !important;
}
.container {
    padding: 10px;
    margin: 10px 2% 10px 2%;
    width: 96%;
    background: #5b5b58b3;
    height: 30px;
    border-radius: 20px;
}
.col {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
}
.tableHeader {
    color: white;
    font-family: "BebasNeue";
    margin-top: 2%;
    font-size: 1.4em;
    letter-spacing: .1em;
    border-radius: 20px;
    animation: onLoad 1s forwards;
}
.animateTable {
    margin: 1% 2% 3% 2%;
    animation: onLoad 1.4s forwards;
}
td {
    color: white;
    font-family: "Rockwell";
    font-size: 1.4em;
    letter-spacing: .1em;
    text-align: center;
}

.currentPlay {
    margin: 10% auto;
    height: 50px;
    width: 320px;
    box-shadow: 0 6px #1b5c34;
    background-color: #2fa45c;
    border: 0;
    border-radius: 5px; 
    color: white;
    font-family: "Rockwell";
    font-size: .8em;
    text-align: center;
    transition: 200ms;
}
.currentPlayText {
    position: relative;
    padding-left: 2%;
    bottom: .45em;
}
.currentPlay img {
    padding: 5px;
}
.currentPlay:hover {
    background-color: #52a773;
    box-shadow: 0 10px #1b5c34;
    transform: translateY(-4px);
    transition: 200ms;
}
.currentPlay:active {
    background-color: #196737;
    box-shadow: 0 2px #1b5c34 !important;
    transform: translateY(4px);
    transition: 100ms;
}

.actionButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}
.editButton input{
    background: url('assets/navIcon/editIcon.svg') no-repeat top 5px left 5px;
    background-size: 30px;
    box-shadow: 0 4px #26405a;
    background-color: #365C81;
    border: 0;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    color: white;
    font-family: "Rockwell";
    font-size: 1.5em;
    text-align: center;
    transition: 200ms;
}
.editButton input:hover {
    background-color: #546e89;
    box-shadow: 0 6px #26405a;
    transform: translateY(-2px);
    transition: 200ms;
}
.editButton input:active {
    background-color: #24415f;
    box-shadow: 0 0px #26405a !important;
    transform: translateY(2px);
    transition: 100ms;
}
.deleteButton input{
    background: url('assets/navIcon/deleteIcon.svg') no-repeat top 5px left 5px;
    background-size: 30px;
    box-shadow: 0 4px #8a3f38;
    background-color: #E66B61;
    border: 0;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    color: white;
    font-family: "Rockwell";
    font-size: 1.5em;
    text-align: center;
    transition: 200ms;
}
.deleteButton input:hover {
    background-color: #e17c73;
    box-shadow: 0 6px #8a3f38;
    transform: translateY(-2px);
    transition: 200ms;
}
.deleteButton input:active {
    background-color: #a34037;
    box-shadow: 0 0px #8a3f38 !important;
    transform: translateY(2px);
    transition: 100ms;
}



.background .dot1 {
    position: absolute;
    width: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    filter: blur(500px);
    background-color: #A81307;
    opacity: .5;
    bottom: -40%;
    right: -20%;
}
.background .dot2 {
    position: absolute;
    width: 60%;
    padding-bottom: 60%;
    border-radius: 50%;
    filter: blur(500px);
    background-color: #A81307;
    opacity: .5;
    top: -80%;
    left:-30%;
}
.background .dot3 {
    position: absolute;
    width: 35%;
    padding-bottom: 35%;
    border-radius: 50%;
    filter: blur(500px);
    background-color: #A81307;
    opacity: .5;
    bottom: -50%;
    left: -5%;
}
    .background .dot4 {
    position: absolute;
    width: 40%;
    padding-bottom: 40%;
    border-radius: 50%;
    filter: blur(100px);
    background-color: #A81307;
    opacity: .5;
    top: -70vh;
    right: -20vw;
}
@keyframes onLoad {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0px);}
  }
  @keyframes onLoadHeader {
    0% {transform: translateY(-500px);}
    100% {transform: translateY(0px);}
  }
  @keyframes onLoadOverFlow {
    0% {overflow-y: hidden;}
    99% {overflow-y: hidden;}
    100% {overflow-y: auto;}
  }
  @keyframes onLoadFade {
    0% {background-color: #272121;}
    20% {background-color: #272121;}
    100% {background-color: invisible;}
  }