@font-face {
  font-family: Rockwell;
  src: url(/assets/fonts/ROCK.TTF);
}
@font-face {
  font-family: BebasNeue;
  src: url(/assets/fonts/BebasNeue-Regular.ttf);
}
::placeholder {
  text-align: center; 
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #151515;
}
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 2.5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #474747;
}


body {
  z-index: 0;
  overflow-x: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation: onLoadOverFlow .6s forwards;
}
.background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 3%;
  background:
  linear-gradient( #101010, #11111188),
    url(https://grainy-gradients.vercel.app/noise.svg);
}
.fade {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100%;
  z-index: 5;
  animation: onLoadFade 1s forwards;
}

.container {
  z-index: 0;
  padding: 10px;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  background: #575753b3;
  color: white;
  border-radius: 15px;
  font-family: "Rockwell";
  letter-spacing: .06em;
}
input, select{
  height: 50px !important;
  box-shadow: inset 0 8px #989898;
  background-color: #e8e8e8;
  border: 0;
  transition: 200ms;
  font-size: 1em;
  font-family: "Rockwell";
}
input:focus, select:focus{
  box-shadow: inset 0 12px #d9d9d9;
  background-color: #f7f7f7;
  color: black;
  transform: translateY(-4px);
  transition: 200ms;
}

.quickView {
  display: none;
}
.quickViewEdit {
  z-index: 10;
  position: sticky;
  top: 2%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  padding: .5px 20px .5px 20px;
  width: 325px;
  background: #e66c6198;
  color: white;
  border-radius: 15px;
  font-size: 1.3em;
  font-family: "BebasNeue";
  letter-spacing: .06em;
  text-align: center;
  line-height: 2em;
  pointer-events: none;
  animation: onLoadHeader 1.6s forwards;
}
.quickViewEditplay {
  color: #ffffff;
  font-size: 2em;
}
header {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  animation: onLoadHeader 1s forwards;
}
.header input {
  width: 300px;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.5em;
}
.dateInput {
  box-shadow: 0 0 !important;
  background-color: transparent;
  border: 0;
  color: white;
  font-family: "Rockwell";
  font-size: 1.5em;
  text-align: center;
}
.submitButton input{
  background: url('assets/navIcon/submitIcon.svg') no-repeat top 7.5px left 30px;
  background-size: 35px;
  box-shadow: 0 6px #1b5c34;
  background-color: #2fa45c;
  border: 0;
  border-radius: 5px;
  width: 200px;
  height: 50px !important;
  color: white;
  font-family: "Rockwell";
  font-size: 1.5em;
  text-align: center;
  transition: 200ms;
}
.submitButton input:hover {
  background-color: #52a773;
  box-shadow: 0 10px #1b5c34;
  transform: translateY(-4px);
  transition: 200ms;
}
.submitButton input:active {
  background-color: #196737;
  box-shadow: 0 2px #1b5c34 !important;
  transform: translateY(4px);
  transition: 100ms;
}
.historyButton {
  height: 50px;
  width: 180px;
  margin-bottom: 6%;
  box-shadow: 0 6px #26405a;
  background-color: #365C81;
  border: 0;
  border-radius: 5px; 
  color: white;
  font-family: "Rockwell";
  font-size: 1.5em;
  text-align: center;
  transition: 200ms;
}
.historyButtonText {
  position: relative;
  padding-left: 5%;
  bottom: .5em;
}
.historyButton img {
  padding-top: 5px;
}
.historyButton:hover {
  background-color: #546e89;
  box-shadow: 0 10px #26405a;
  transform: translateY(-4px);
  transition: 200ms;
}
.historyButton:active {
  background-color: #24415f;
  box-shadow: 0 2px #26405a !important;
  transform: translateY(4px);
  transition: 100ms;
}

.quickEdit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  animation: onLoad 1s forwards;
  font-size: 1.3em;
}
.quickEdit input {
  width: 150px;
  border-radius: 5px;
  margin: 10px;
}
.quickEdit select {
  width: 158px;
  border-radius: 5px;
  margin: 10px;
}

.fieldAndPlayer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  animation: onLoad 1.4s forwards;
}
.field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  flex-grow: 2;
  margin-right: 1.5%;
  max-width: 1000px;
}
.player {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 2% 0% 0%;
  padding: 0 0 3% 0;
}
.playerSection {
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 0 10% 0;
}
.player input {
  width: 30%;
  height: 70% !important;
  margin: 2%;
  border-radius: 5px;
  font-size: 1.5em;
  font-family: "Rockwell";
  color: red;
}
.fieldDataSelection {
  font-size: 1.5em;
  margin-bottom: 5%;
  padding-bottom: 2%;
  animation: onLoad 1.8s forwards;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.fieldDataSelection input {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  margin: 0px;
}
.fieldDataSelection select {
  width: 90%;
  height: 40px;
  border-radius: 5px;
}
.fieldOptions {
  width: 250px;
  height: 20%;
  border-radius: 5px;
}



.background .dot1 {
  position: absolute;
  width: 50%;
  padding-bottom: 50%;
  border-radius: 50%;
  filter: blur(500px);
  background-color: #A81307;
  opacity: .5;
  bottom: -40%;
  right: -20%;
}
.background .dot2 {
  position: absolute;
  width: 60%;
  padding-bottom: 60%;
  border-radius: 50%;
  filter: blur(500px);
  background-color: #A81307;
  opacity: .5;
  top: -80%;
  left:-30%;
}
.background .dot3 {
  position: absolute;
  width: 35%;
  padding-bottom: 35%;
  border-radius: 50%;
  filter: blur(500px);
  background-color: #A81307;
  opacity: .5;
  bottom: -50%;
  left: -5%;
}
.background .dot4 {
  position: absolute;
  width: 40%;
  padding-bottom: 40%;
  border-radius: 50%;
  filter: blur(100px);
  background-color: #A81307;
  opacity: .5;
  top: -70vh;
  right: -20vw;
}
@keyframes onLoad {
  0% {transform: translateY(500px);}
  100% {transform: translateY(0px);}
}
@keyframes onLoadHeader {
  0% {transform: translateY(-500px);}
  100% {transform: translateY(0px);}
}
@keyframes onLoadOverFlow {
  0% {overflow-y: hidden;}
  99% {overflow-y: hidden;}
  100% {overflow-y: auto;}
}
@keyframes onLoadFade {
  0% {background-color: #272121;}
  20% {background-color: #272121;}
  100% {background-color: invisible;}
}
@keyframes onLoadFadeEdit {
  0% {background-color: #272121;}
  20% {background-color: #272121;}
  100% {background-color: #21121227;}
}